<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
    <!--Luego hay que hacer una validación de sesión iniciada para mostrar un header u otro-->
    <link rel="stylesheet" href="/css/headerLog.css" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/main/detalleAnuncio.css" />
</head>
<!-- CÓDIGO -->
<body>
    <header>
        <% if(type_user == "empresa"){%>
			<%- include('../partials/headerEmp'); -%>
		<%} if(type_user == "usuario"){%>
			<%- include('../partials/headerLog'); -%>
		<%}if(type_user == "guest"){%>
			<%- include('../partials/header'); -%>
		<%}%>
    </header>
    <div class="container-fluid cuerpo">
        <div class="container detalle">
            <div class="row separador">
                <div class="col-9 volver wrap">
                    <a href="../">../Volver</a>
                </div>
                <div class="col-3 titulo wrap">
                    <p>Empleos similares</p>
                </div>
            </div>

        
            <div class="row cuerpo">

                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 anuncio wrap">
                    <% if(anuncio == "anuncio no encontrado"){ %>
                        <p class="not_found">Anuncio No encontrado</p>
                        <% }else{%>
                    <div class="avatar">
                        <img src="/images/avatars/<%= anuncio.cmp_avatar %>" alt="">
                    </div>
                    <div class="cabecera wrap">
                        <h1><%= anuncio.adv_title %></h1>
                        <h2><%= anuncio.adv_cmp_name %></h2>
                    </div> 
                    <div class="info wrap">
                        <div class="item">
                            <p>Lugar de trabajo</p>
                            <p>Publicado</p>
                            <p>Salario</p>
                            <p>Jornada</p>
                            <p>Área</p>
                        </div>
                        <div class="item">
                            <p><%= anuncio.adv_location %></p>
                            <p><%= anuncio.adv_date_contract %></p>
                            <p><%= anuncio.adv_salary %></p>
                            <p><%= anuncio.adv_working_day %></p>
                            <p><%= anuncio.adv_area %></p>
                        </div>
                    </div>
                    <div class="skills wrap">
                        <div class="item wrap">
                            <p>Skills: Excluyentes</p>
                            <ul>
                                <li><i class="fab fa-js-square"></i> Javascript</li>
                                <li><i class="fas fa-code"></i> Express</li>
                                <li><i class="fab fa-html5"></i> HTML5</li>
                                <li><i class="fab fa-css3-alt"></i> CSS3</li>
                                <li><i class="fab fa-git-alt"></i> Git</li>
                                <li><i class="fab fa-node"></i> Node.js</li>
                                <li><i class="fab fa-react"></i> React</li>
                            </ul>
                        </div>
                        <div class="item wrap">
                            <p>Skills: Deseables</p>
                            <ul>
                                <li><i class="fas fa-database"></i> SQL</li>
                                <li><i class="fab fa-php"></i> PHP</li>
                                <li><i class="fab fa-laravel"></i> Laravel</li>
                            </ul>
                        </div>
                    </div>
                    <div class="descp">
                        <p> <%= anuncio.adv_description %> </p>
                    </div>
                    <div class="postular">
                        <a href="postulacion?anuncioId=<%= anuncio.id %>">Postularme</a>
                    </div>
                    <%  } %>
                </div>
                <div class="col-3 relacionados wrap">
                    <a href="/detalle">
                        <div class="item">
                            <div class="img">
                                <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                            </div>
                            <div class="info">
                                <h3>Desarrollador Web - Full Stack</h3>
                                <p>Digital House</p>
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i> Capital Federal</li>
                                    <li><i class="fas fa-briefcase"></i> Full Time</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
       </div>
    </div>
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
</body>
</html>