<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
    <!--Luego hay que hacer una validación de sesión iniciada para mostrar un header u otro-->
    <link rel="stylesheet" href="/css/headerLog.css" />
    <link rel="stylesheet" href="/css/main/detalleAnuncio.css" />
</head>
<!-- CÓDIGO -->
<body>
    <header>
	    <%- include('../partials/headerLog'); -%>
    </header>
    <div class="container-fluid cuerpo">
        <div class="container detalle">
            <div class="row separador">
                <div class="col-9 volver wrap">
                    <a href="../">../Volver</a>
                </div>
                <div class="col-3 titulo wrap">
                    <p>Empleos similares</p>
                </div>
            </div>
            <div class="row cuerpo">
                <div class="col-9 anuncio wrap">
                    <div class="avatar">
                        <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                    </div>
                        <div class="cabecera wrap">
                        <h1><%= anuncio.titulo %></h1>
                        <h2><%= anuncio.empresa %></h2>
                    </div>
                    <div class="info wrap">
                        <div class="item">
                            <p>Lugar de trabajo</p>
                            <p>Publicado</p>
                            <p>Salario</p>
                            <p>Jornada</p>
                            <p>Área</p>
                        </div>
                        <div class="item">
                            <p><%= anuncio.ubicacion %></p>
                            <p><%= anuncio.publicacion %></p>
                            <p><%= anuncio.salario %></p>
                            <p><%= anuncio.jornada %></p>
                            <p><%= anuncio.area %></p>
                        </div>
                    </div>
                    <div class="skills wrap">
                        <div class="item wrap">
                            <p>Skills: Excluyentes</p>
                            <ul>
                                <li><i class="fab fa-js-square"></i> Javascript</li>
                                <li><i class="fas fa-code"></i> Express</li>
                                <li><i class="fab fa-html5"></i> HTML5</li>
                                <li><i class="fab fa-css3-alt"></i> CSS3</li>
                                <li><i class="fab fa-git-alt"></i> Git</li>
                                <li><i class="fab fa-node"></i> Node.js</li>
                                <li><i class="fab fa-react"></i> React</li>
                            </ul>
                        </div>
                        <div class="item wrap">
                            <p>Skills: Deseables</p>
                            <ul>
                                <li><i class="fas fa-database"></i> SQL</li>
                                <li><i class="fab fa-php"></i> PHP</li>
                                <li><i class="fab fa-laravel"></i> Laravel</li>
                            </ul>
                        </div>
                    </div>
                    <div class="descp">
                        <p> <%= anuncio.descrp %> </p>
                    </div>
                    <div class="postular">
                        <form action="" method="post">
                            <button type="submit">Postularme</button>
                        </form>
                    </div>
                </div>
                <div class="col-3 relacionados wrap">
                    <a href="/detalle">
                        <div class="item">
                            <div class="img">
                                <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                            </div>
                            <div class="info">
                                <h3>Desarrollador Web - Full Stack</h3>
                                <p>Digital House</p>
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i> Capital Federal</li>
                                    <li><i class="fas fa-briefcase"></i> Full Time</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                    <a href="/detalle">
                        <div class="item">
                            <div class="img">
                                <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                            </div>
                            <div class="info">
                                <h3>Desarrollador Web - Full Stack</h3>
                                <p>Digital House</p>
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i> Capital Federal</li>
                                    <li><i class="fas fa-briefcase"></i> Full Time</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                    <a href="/detalle">
                        <div class="item">
                            <div class="img">
                                <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                            </div>
                            <div class="info">
                                <h3>Desarrollador Web - Full Stack</h3>
                                <p>Digital House</p>
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i> Capital Federal</li>
                                    <li><i class="fas fa-briefcase"></i> Full Time</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                    <a href="/detalle">
                        <div class="item">
                            <div class="img">
                                <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                            </div>
                            <div class="info">
                                <h3>Desarrollador Web - Full Stack</h3>
                                <p>Digital House</p>
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i> Capital Federal</li>
                                    <li><i class="fas fa-briefcase"></i> Full Time</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                    <a href="/detalle">
                        <div class="item">
                            <div class="img">
                                <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                            </div>
                            <div class="info">
                                <h3>Desarrollador Web - Full Stack</h3>
                                <p>Digital House</p>
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i> Capital Federal</li>
                                    <li><i class="fas fa-briefcase"></i> Full Time</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
       </div>
    </div>
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
<!-- CÓDIGO -->
</body>
</html>