<!DOCTYPE html>
<html lang="es">

<head>
	<%- include('../partials/head'); -%>
	<link rel="stylesheet" href="/css/main/app.css" />
	<link rel="stylesheet" href="/css/headerLog.css" />
</head>
<body>
	<header>
		<% if(type_user == "company"){%>
			<%- include('../partials/headerEmp'); -%>
		<%} if(type_user == "cliente"){%>
			<%- include('../partials/headerLog'); -%>
		<%}if(type_user == "guest"){%>
			<%- include('../partials/header'); -%> 
		<%}%>
		
	</header>
	<div class="container-fluid buscador wrap">
		<div class="container">
			<div class="row">
				<div class="col-12 buscador">
					<form action="/" method="post">
						<label for="">
							<p>Empezá a buscar</p>
						</label>
						<div class="barra wrap">
							<input type="text" name="" id="busquedaGeneral"
								placeholder="SELECT * FROM Empleos = 'Puesto','Empresa','Lenguaje' OR 'Palabra Clave'">
							<p>En:</p>
							<select name="" id="">
								<option value="CABA">Capital Federal</option>
								<option value="GBA">Buenos Aires</option>
								<option value="CO">Córdoba</option>
								<option value="MDZ">Mendoza</option>
								<option value="RO">Rosario</option>
							</select>
							<button><i class="fas fa-search"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid cuerpo wrap">
		<div class="container">
			<div class="row">
				<div class="col-12 filtros wrap">
					<p>Filtros Aplicados:</p>
					<div class="filtrosAct wrap">
						<div class="item">
							<p>CSS</p>
							<a href="">X</a>
						</div>
						<div class="item">
							<p>Express</p>
							<a href="">X</a>
						</div>
						<div class="item">
							<p>Node.Js</p>
							<a href="">X</a>
						</div>
						<div class="item">
							<p>Buenos Aires</p>
							<a href="">X</a>
						</div>
						<div class="item">
							<p>JavaScript</p>
							<a href="">X</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 menu">
					<!-- Consultar si coviene definir los items como listas o 
					hacer inputs tipo check para hacer el filtrado -->
					<dl>
						<dt><i class="fas fa-calendar-day"></i> Fecha de publicación</dt>
						<dd>Hoy <span id="cant">(25)</span></dd>
						<dd>Hace 3 días <span id="cant">(56)</span></dd>
						<dd>Última semana <span id="cant">(102)</span></dd>
						<dd>Hace 15 días <span id="cant">(223)</span></dd>
						<dd>Este mes <span id="cant">(410)</span></dd>
					</dl>
					<dl>
						<dt><i class="fas fa-briefcase"></i> Jornada</dt>
						<dd>Tiempo Completo <span id="cant">(302)</span></dd>
						<dd>Medio Tiempo <span id="cant">(57)</span></dd>
						<dd>Home Office <span id="cant">(150)</span></dd>
					</dl>
					<dl>
						<dt><i class="fas fa-code"></i> Lenguajes</dt>
						<dd>HTML <span id="cant">(56)</span></dd>
						<dd>CSS <span id="cant">(25)</span></dd>
						<dd>Node.js <span id="cant">(78)</span></dd>
						<dd>React <span id="cant">(102)</span></dd>
						<dd>C++ <span id="cant">(47)</span></dd>
						<dd>JAVA <span id="cant">(25)</span></dd>
						<dd>PHP <span id="cant">(92)</span></dd>
					</dl>
					<dl>
						<dt><i class="fas fa-brain"></i> Experiencia</dt>
						<dd>Junior <span id="cant">(105)</span></dd>
						<dd>Semi-senior <span id="cant">(79)</span></dd>
						<dd>Senior <span id="cant">(25)</span></dd>
					</dl>

				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 resultados">
					<div class="barra">
						<dl>
							<dt>Ordenar por</dt>
							<dd><i class="fas fa-star"></i> Relevancia</dd>
							<dd><i class="fas fa-calendar-day"></i> Fecha</dd>
							<dd><i class="fas fa-search-dollar"></i> Salario</dd>
							<dd><i class="fas fa-magic"></i> Skills</dd>
						</dl>
					</div>

					<div class="anuncios">
						<% for (anuncio of anuncios) { %>
							<a href="/detalle?id=<%= anuncio.adv_id %>">
								<div class="item">
									<div class="img">
										<img src="/images/avatars/<%=anuncio.adv_cmp_avatar%>" alt="">
									</div>
									<div class="info">
										<h2><%= anuncio.adv_title %></h2>
										<ul>
											<li><%= anuncio.adv_cmp_name %></li>
											<li><%= anuncio.adv_location %></li>
											<li><%= anuncio.adv_working_day %></li>
										</ul>
										<p class="desc"><%= anuncio.adv_description %></p>
										<p class="sal">$<%= anuncio.adv_salary %></p>
										<p class="skills"><i class="fas fa-magic" title="Skills que cumples"></i> 5/8</p>
									</div>
								</div>
							</a>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<%- include('../partials/footer'); -%>
	</footer>
</body>

</html>