<!DOCTYPE html>
<html lang="es">

<head>
	<%- include('../partials/head'); -%>
	<link rel="stylesheet" href="/css/main/index.css" />
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/headerLog.css" />
	<link rel="stylesheet" href="/css/footer.css" />
</head>
<body>
	<header>
		<% if(type_user == "empresa"){%>
			<%- include('../partials/headerEmp'); -%>
		<%} if(type_user == "cliente"){%>
			<%- include('../partials/headerLog'); -%>
		<%}if(type_user == "guest"){%>
			<%- include('../partials/header'); -%> 
		<%}%>
		
	</header>
	<div class="container-fluid buscador wrap">
		<div class="container">
			<div class="row">
				<div class="col-12 buscador">
					<form action="" method="get">
						<label for="search"><p>Empezá a buscar</p></label>
						<div class="barra wrap">
							<input type="text" name="search" id="search" placeholder="SELECT * FROM Empleos = 'Puesto','Empresa','Lenguaje' OR 'Palabra Clave'">
							<p>En:</p>
							<select name="ubication" id="ubication">
								<option value="">Ciudad</option>
							</select>
							<button type="submit"><i class="fas fa-search"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid cuerpo wrap">
		<div class="container">
			<div class="row">
				<div class="col-12 filtros wrap">
					<p>Búsquedas recientes:</p>
					<div class="filtrosAct wrap">
						<% if(busquedas != ''){ %>
							<% for(let filtro of busquedas){ %>
								<div class="item">
									<a href="?search=<%= filtro %>"><%= filtro %></a>
									<a href="?deleteFilter=<%=filtro%>" id="deleteFilter">X</a>
								</div>
							<% } %> 
						<% } %> 
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 menu">
					<dl>
						<dt><i class="fas fa-briefcase"></i> Jornada</dt>
						<dd><a href="/jornada/full_time/">Full Time <span id="cant"></span></a></dd>
						<dd><a href="/jornada/part_time/">Part Time <span id="cant"></span></a></dd>
						<dd><a href="/jornada/home_office/">Home Office <span id="cant"></span></a></dd>
					</dl>
					<dl id="filter-skills">
						<dt><i class="fas fa-code"></i> Lenguajes</dt>
						<dd><a href="/skill/HTML/">HTML <span id="cant"></span></a></dd>
					</dl>
					<dl>
						<dt><i class="fas fa-brain"></i> Experiencia</dt>
						<dd><a href="/experiencia/junior/">Jr <span id="cant"></span></a></dd>
						<dd><a href="/experiencia/semi-senior/">Semi Sr <span id="cant"></span></a></dd>
						<dd><a href="/experiencia/senior/">Senior <span id="cant"></span></a></dd>
					</dl>

				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 resultados">
					<div class="barra">
						<dl>
							<dt>Ordenar por</dt>
							<dd><a href="?order=relevance"><i class="fas fa-star"></i> Relevancia</a></dd>
							<dd><a href="?order=date"><i class="fas fa-calendar-day"></i> Fecha</a></dd>
							<dd><a href="?order=salary"><i class="fas fa-search-dollar"></i> Salario</a></dd>
							<dd><a href="?order=skills"><i class="fas fa-magic"></i> Skills</a></dd>
						</dl>
					</div>

					<div class="anuncios">
						<% for (anuncio of anuncios) { %>
							<div class="anuncio">
								<%if(locals.type_user == 'cliente'){%>
									<i class="far fa-heart fa-lg" id="add-favorite" data-id="<%= anuncio.id %>" data-user="<% if(user){ %><%= user %><% } %>"></i>
									<% } %>
								<a href="/detalle?id=<%= anuncio.id %>">
									<div class="item">
										<div class="img">
											<img src="/images/avatars/<%= anuncio.empresas.cmp_avatar%>" alt="">
										</div>
										<div class="info">
											<h2><%= anuncio.adv_title %></h2>
											<ul>
												<li><%= anuncio.empresas.cmp_name %></li>
												<li><%= anuncio.adv_location %></li>
												<li><%= anuncio.adv_working_day %></li>
											</ul>
											<p class="desc"><%= anuncio.adv_description %></p>
											<p class="sal">$<%= anuncio.adv_salary %></p>
											<%if(locals.type_user == 'cliente'){%>
	
												<p class="skills"><i class="fas fa-magic" title="Skills que cumples"></i> 
													<%= anuncio.compareSkills(cliente.skill).length +'/'+ anuncio.adv_skills.length %></p>
											<%}%>
										</div>
									</div>
								</div>
							</a>
						<% } %>
					</div>
					<div class="pagination">
						<a href="?page=<%= parseInt(page) - 1 %>" class="buttonAnterior">anterior</a>
						<a href="?page=<%= parseInt(page) + 1 %>" class="buttonSiguiente">siguiente</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<%- include('../partials/footer'); -%>
	</footer>
	<div class="background">
        <div class="item">
            <img src="/images/backgrounds/item-green.png" alt="">
        </div>
        <div class="item">
            <img src="/images/backgrounds/item-pink.png" alt="">
        </div>
        <div class="item">
            <img src="/images/backgrounds/item-green.png" alt="">
        </div>
        <div class="code-box n1">
            <p class="code"><span id="declare">var</span><span id="var"> findJob</span> =</p>
            <p class="code"><span id="array">['you','need','hack','hunt']</span>;</p>
            <p class="code">db.<span id="yellow">HackHunt</span>.findAll() <span id="array">// find my job today</span></p>
            <p class="code"><span id="var">.then </span>(<span id="object"> result </span><span id="declare"> => </span> { <span id="object">result</span><span id="yellow">.find(</span> item <span id="declare"> => </span> <span id="yellow">)</span></p>
            <p class="code">}<span id="var">) .catch</span>(<span id="object"> error </span><span id="declare"> => </span><span id="array">console</span><span id="yellow">.log(</span><span id="object">error</span><span id="yellow">)</span>)</p>
        </div>
        <div class="code-box n2">
            <p class="code"><span id="declare">var</span><span id="var"> findJob</span> =</p>
            <p class="code"><span id="array">['you','need','hack','hunt']</span>;</p>
            <p class="code">db.<span id="yellow">HackHunt</span>.findAll() <span id="array">// find my job today</span></p>
            <p class="code"><span id="var">.then </span>(<span id="object"> result </span><span id="declare"> => </span> { <span id="object">result</span><span id="yellow">.find(</span> item <span id="declare"> => </span> <span id="yellow">)</span></p>
            <p class="code">}<span id="var">) .catch</span>(<span id="object"> error </span><span id="declare"> => </span><span id="array">console</span><span id="yellow">.log(</span><span id="object">error</span><span id="yellow">)</span>)</p>
        </div>
    </div> 
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/main/ciudades.js"></script>
	<script src="/js/main/filtroSkills.js"></script>
	<script src="/js/main/adv_favorites.js"></script> 
	<script src="/js/main/cantAnuncios.js"></script>
</body>

</html>