<!DOCTYPE html>
<html lang="es">

<head>
	<%- include('../partials/head'); -%>
	<link rel="stylesheet" href="/css/main/index.css" />
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/headerLog.css" />
	<link rel="stylesheet" href="/css/footer.css" />
	<script src="/js/main.js"></script>
</head>
<body>
	<header>
		<% if(type_user == "empresa"){%>
			<%- include('../partials/headerEmp'); -%>
		<%} if(type_user == "cliente"){%>
			<%- include('../partials/headerLog'); -%>
		<%}if(type_user == "guest"){%>
			<%- include('../partials/header'); -%> 
		<%}%>
		
	</header>
	<div class="container-fluid buscador wrap">
		<div class="container">
			<div class="row">
				<div class="col-12 buscador">
					<form action="" method="get">
						<label for="search"><p>Empezá a buscar</p></label>
						<div class="barra wrap">
							<input type="text" name="search" id="search" placeholder="SELECT * FROM Empleos = 'Puesto','Empresa','Lenguaje' OR 'Palabra Clave'">
							<p>En:</p>
							<select name="ubication" id="ubication">
								<option value="CABA">Capital Federal</option>
								<option value="GBA">Buenos Aires</option>
								<option value="CO">Córdoba</option>
								<option value="MDZ">Mendoza</option>
								<option value="RO">Rosario</option>
							</select>
							<button type="submit"><i class="fas fa-search"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid cuerpo wrap">
		<div class="container">
			<div class="row">
				<div class="col-12 filtros wrap">
					<p>Búsquedas recientes:</p>
					<div class="filtrosAct wrap">
						<% if(busquedas != ''){ %>
							<% for(let filtro of busquedas){ %>
								<div class="item">
									<a href="?search=<%= filtro %>"><%= filtro %></a>
									<a href="?deleteFilter=<%=filtro%>" id="deleteFilter">X</a>
								</div>
							<% } %> 
						<% } %> 
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 menu">
					<!-- Consultar si coviene definir los items como listas o 
					hacer inputs tipo check para hacer el filtrado -->
					<dl>
						<dt><i class="fas fa-calendar-day"></i> Fecha de publicación</dt>
						<dd><a href="/publicacion/today">Hoy <span id="cant">(25)</span></a></dd>
						<dd><a href="/publicacion/3_days_ago">Hace 3 días <span id="cant">(56)</span></a></dd>
						<dd><a href="/publicacion/last_week">Última semana <span id="cant">(102)</a></span></dd>
						<dd><a href="/publicacion/15_days_ago">Hace 15 días <span id="cant">(223)</span></a></dd>
						<dd><a href="/publicacion/last_month">Este mes <span id="cant">(410)</span></a></dd>
					</dl>
					<dl>
						<dt><i class="fas fa-briefcase"></i> Jornada</dt>
						<dd><a href="/jornada/full_time">Tiempo Completo <span id="cant">(302)</span></a></dd>
						<dd><a href="/jornada/part_time">Medio Tiempo <span id="cant">(57)</span></a></dd>
						<dd><a href="/jornada/home_office">Home Office <span id="cant">(150)</span></a></dd>
					</dl>
					<dl>
						<dt><i class="fas fa-code"></i> Lenguajes</dt>
						<dd><a href="/skill/HTML">HTML <span id="cant">(56)</span></a></dd>
						<dd><a href="/skill/CSS">CSS <span id="cant">(25)</span></a></dd>
						<dd><a href="/skill/Node.js">Node.js <span id="cant">(78)</span></a></dd>
						<dd><a href="/skill/React">React <span id="cant">(102)</span></a></dd>
						<dd><a href="/skill/C++">C++ <span id="cant">(47)</span></a></dd>
						<dd><a href="/skill/JAVA">JAVA <span id="cant">(25)</span></a></dd>
						<dd><a href="/skill/PHP">PHP <span id="cant">(92)</span></a></dd>
					</dl>
					<dl>
						<dt><i class="fas fa-brain"></i> Experiencia</dt>
						<dd><a href="/experiencia/jr">Junior <span id="cant">(105)</span></a></dd>
						<dd><a href="/experiencia/ssr">Semi-senior <span id="cant">(79)</span></a></dd>
						<dd><a href="/experiencia/sr">Senior <span id="cant">(25)</span></a></dd>
					</dl>

				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 resultados">
					<div class="barra">
						<dl>
							<dt>Ordenar por</dt>
							<dd><a href="?order=relevance"><i class="fas fa-star"></i> Relevancia</a></dd>
							<dd><a href="?order=date"><i class="fas fa-calendar-day"></i> Fecha</a></dd>
							<dd><a href="?order=salary"><i class="fas fa-search-dollar"></i> Salario</a></dd>
							<dd><a href="?order=skills"><i class="fas fa-magic"></i> Skills</a></dd>
						</dl>
					</div>

					<div class="anuncios">
						<% for (anuncio of anuncios) { %>
							<a href="/detalle?id=<%= anuncio.id %>">
								<div class="item">
									<div class="img">
										<img src="/images/avatars/<%= anuncio.empresas.cmp_avatar%>" alt="">
									</div>
									<div class="info">
										<h2><%= anuncio.adv_title %></h2>
										<ul>
											<li><%= anuncio.empresas.cmp_name %></li>
											<li><%= anuncio.adv_location %></li>
											<li><%= anuncio.adv_working_day %></li>
										</ul>
										<p class="desc"><%= anuncio.adv_description %></p>
										<p class="sal">$<%= anuncio.adv_salary %></p>
										<%if(locals.type_user == 'cliente'){%>

											<p class="skills"><i class="fas fa-magic" title="Skills que cumples"></i> 
												<%= anuncio.compareSkills(cliente.skill).length +'/'+ anuncio.adv_skills.length %></p>
										<%}%>
									</div>
								</div>
							</a>
						<% } %>
					</div>
					<div class="pagination">
						<a href="?page=<%= parseInt(page) - 1 %>" class="buttonAnterior">anterior</a>
						<a href="?page=<%= parseInt(page) + 1 %>" class="buttonSiguiente">siguiente</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<%- include('../partials/footer'); -%>
	</footer>
</body>

</html>