<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/headerLog.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/cliente/perfil.css" />
</head>
<!-- CÓDIGO -->
<body>
    <header>
        <%- include('../partials/headerLog'); -%>
    </header>    
    <div class="container-fluid cuerpo">
        <div class="container cuerpo">
            <div class="row">
                <div class="col-12 barra-menu wrap">
                    <a href="perfil/informacion">Editar mi CV</a>
                    <a href="perfil/postulaciones">Mis postulaciones</a>
                    <a href="perfil/favoritos">Favoritos</a>
                    <a href="perfil/alertas">Alertas</a>
                    <a href="perfil/configuracion">Configuración</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 info">
                    <div class="perfil wrap">
                        <div class="avatar">
                            <div class="item">
                                <img src="/images/avatars/<%= user.user_avatar %>" alt="">
                            </div>
                        </div>
                        <div class="datos wrap">
                            <strong><p><%= user.user_name %></p></strong>
                            <p><%= user.cliente_cv.user_position %></p>
                            <p><%= user.cliente_cv.user_position_level %></p>
                            <ul>
                                <li><i class="fab fa-git-alt" title="Repositorio Git"></i> <%= user.cliente_cv.user_git %></li>
                                <li><i class="fab fa-stack-overflow" title="StackOverflow"></i> <%= user.cliente_cv.user_stack %></li>
                                <li><i class="fas fa-user" title="Website"></i> <%= user.cliente_cv.user_website %></li>
                            </ul>
                        </div>
                        <a href=""><i class="fas fa-user-edit" title="Editar información"></i></a>
                    </div>
                    <div class="estadisticas wrap">
                        <p class="titulo">Resumen de cuenta</p>
                        <ul>
                            <li>Postulaciones activas: XX</li>
                            <li>Empresas que han visto tu CV: XX</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 funciones">
                    <div class="busqueda wrap">
                        <form action="/" method="post">
						<label for=""><p>Búsqueda rápida</p></label>
						<div class="barra wrap">
							<input type="text" name="" id="busquedaGeneral">
							<p>En:</p>
							<select name="" id="">
								<option value="CABA">Capital Federal</option>
								<option value="GBA">Buenos Aires</option>
								<option value="CO">Córdoba</option>
								<option value="MDZ">Mendoza</option>
								<option value="RO">Rosario</option>
							</select>
							<button><i class="fas fa-search"></i></button>
						</div>
					</form>
                    </div>
                    <div class="sugeridos">
                        <div class="anuncios wrap">
                            <strong><p>Te pueden interesar</p></strong>
                            <a href="./">ver más</a>
                            <a class="anuncio" href="/detalle">
                                <div class="item wrap">
                                    <h3>Desarrollador Web Full Stack</h3>
                                    <p><i class="fas fa-magic" title="Skills que cumples"></i> 10/10</p>
                                    <p><i class="fas fa-calendar-day" title="Fecha de publicación"></i> 5/12/19</p>
                                    <i class="fab fa-hotjar" style="color: orangered;" title="¡EXCELENTE OPORTUNIDAD!"></i>
                                </div>
                            </a>
                            <a class="anuncio" href="/detalle">
                                <div class="item wrap">
                                    <h3>Desarrollador Web Full Stack</h3>
                                    <p><i class="fas fa-magic" title="Skills que cumples"></i> 10/10</p>
                                    <p><i class="fas fa-calendar-day" title="Fecha de publicación"></i> 5/12/19</p>
                                    <i class="fab fa-hotjar" style="color: transparent;" title="¡EXCELENTE OPORTUNIDAD!"></i>
                                </div>
                            </a>
                            <a class="anuncio" href="/detalle">
                                <div class="item wrap">
                                    <h3>Desarrollador Web Full Stack</h3>
                                    <p><i class="fas fa-magic" title="Skills que cumples"></i> 10/10</p>
                                    <p><i class="fas fa-calendar-day" title="Fecha de publicación"></i> 5/12/19</p>
                                    <i class="fab fa-hotjar" style="color: transparent;" title="¡EXCELENTE OPORTUNIDAD!"></i>
                                </div>
                            </a>                                                        
                        </div>
                        <div class="postulaciones wrap">
                            <strong><p>Últimas postulaciones</p></strong>
                            <a href="/postulaciones">ver más</a>
                      
                           <% for(let anuncio of user.candidato){ %>
                            <a class="anuncio" href="/detalle?id=<%= anuncio.id %>">
                                <div class="item wrap">
                                    <h3><%= anuncio.adv_title %>  <%=anuncio.created_at%></h3>
                                    <p><i class="fas fa-magic" title="Skills que cumples"></i> 10/10</p>
                                    <p><i class="fas fa-calendar-day" title="Fecha de publicación"></i> <%=  %></p>
                                    <i class="far fa-eye" title="Visto por la empresa"></i>
                                </div>
                            </a> 
                        <% } %>                                                 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>    
<!-- CÓDIGO -->
</body>

</html>