<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/headerLog.css" />
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cliente/postulaciones.css" />
</head>
<body>
    <header>
        <%- include('../partials/headerLog'); -%>
    </header>  
    <div class="container post">
        <div class="row">
            <div class="col-12 barra-menu wrap">
                <a href="/perfil/informacion">Editar mi CV</a>
                <a href="/perfil/postulaciones" id="select">Mis postulaciones</a>
                <a href="/perfil/favoritos">Favoritos</a>
                <a href="/perfil/alertas">Alertas</a>
                <a href="/perfil/configuracion">Configuración</a>
            </div>
            <div class="col-12 barra">
                    <h2> <span id="var">var</span> <span id="nom">PaginaActual</span> <span id="ig">=</span> Mi cuenta;<span id="efc">&#160;</span></h2>
            </div>
            <div class="col-12 stats">
                <div class="detalle">
                    <div class="item">
                        <p><span>5</span> CV No leídos</p>
                    </div>
                    <div class="item">
                        <p><span>3</span> CV Leídos</p>
                    </div>
                    <div class="item">
                        <p><span>8</span> CV Total</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 panel">
                <div class="filtro">
                    <!-- consultar si conviene utilizar listas o inputs para filtros -->
                    <h3>Mostrar</h3>
                    <ul>
                        <li><input type="radio" name="filtrar" id="">Todas</li>
                        <li><input type="radio" name="filtrar" id="">CV No leído</li>
                        <li><input type="radio" name="filtrar" id="">CV Leído</li>
                        <li><input type="radio" name="filtrar" id="">Finalizadas</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 anuncios">
                <% for(let anuncio of usuario.candidato){ %>
                    <a href="/detalle?id=<%= anuncio.id %>">
                        <div class="item">
                            <div class="img">
                                <img src="/images/avatars/<%= anuncio.empresas.cmp_avatar %>" alt="">
                            </div>
                            <div class="info">
                                <h2><%= anuncio.adv_title %></h2>
                                <ul>
                                    <li><%= anuncio.empresas.cmp_name %></li>
                                    <li><%= anuncio.adv_location %></li>
                                    <li><%= anuncio.adv_working_day %></li>
                                </ul>
                                <p class="desc"><%= anuncio.adv_description %></p>
                                <p class="sal">$<%= anuncio.adv_salary %></p>
                                <p class="skills"><i class="fas fa-magic" title="Skills que cumples"></i> <%= anuncio.compareSkills(usuario.skill).length + " / " + anuncio.adv_skills.length %></p>
                            </div>
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
    <div class="background">
        <div class="item">
            <img src="/images/backgrounds/item-green.png" alt="">
        </div>
        <div class="item">
            <img src="/images/backgrounds/item-pink.png" alt="">
        </div>
        <div class="item">
            <img src="/images/backgrounds/item-green.png" alt="">
        </div>
    </div> 
</body>
</html>