<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/headerLog.css" />
    <link rel="stylesheet" href="/css/empresa/anuncios.css" />
</head>

<body>
    <header>
        <%- include('../partials/headerEmp'); -%>
    </header>
    <div class="container post">
        <div class="row">
            <div class="col-12 barra-menu wrap">
                <a href="/empresa/anuncios/crear">Nuevo anuncio</a>
                <a href="/empresa/anuncios" id="select">Mis anuncios</a>
                <a href="/empresa/informacion">Editar información</a>
                <a href="/empresa/perfil/configuracion">Configuración</a>
            </div>
            <div class="col-12 barra">
                <h2>Mis Anuncios</h2>
            </div>
            <div class="col-12 stats">
                <div class="detalle">
                    <div class="item">
                        <p><span><%=anuncios.length%></span> Anuncios</p>
                    </div>
                    <div class="item">
                        <p><span><%=anuncios.length%></span> Nuevos candidatos</p>
                    </div>
                    <div class="item">
                        <p><span><%=anuncios.length%></span> Perfiles destacados</p>
                    </div>
                </div>
            </div>
            <div class="col-2 panel">
                <div class="filtro">
                    <!-- consultar si conviene utilizar listas o inputs para filtros -->
                    <h3>Mostrar</h3>
                    <ul>
                        <li><input type="radio" name="filtrar" id="">Todas</li>
                        <li><input type="radio" name="filtrar" id="">Activos</li>
                        <li><input type="radio" name="filtrar" id="">Nuevas solicitudes</li>
                        <li><input type="radio" name="filtrar" id="">Finalizados</li>
                    </ul>
                </div>
            </div>
            <div class="col-7 anuncios">
                <% for (const anuncio of anuncios) { %> 
                    <div class="item">
                        <a class="mod" href="anuncios/modificar/<%=anuncio.id%>">Modificar</a>
                        <a class="del" href="anuncios/delete/<%=anuncio.id%>">Eliminar</a>
                        <div class="img">
                            <img src="/images/avatars/<%=anuncio.cmp_avatar%>" alt="">
                        </div>
                        <div class="info">
                            <h2><%= anuncio.adv_title %></h2>
                            <ul>
                                <li><%= anuncio.adv_cmp_name %></li>
                                <li><%= anuncio.adv_location %></li>
                                <li><%= anuncio.adv_working_day %></li>
                            </ul>
                            <p class="desc"><%= anuncio.adv_description %></p>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="col-3 candidatos wrap">
            <% for (const anuncio of anuncios) { %>
                    <div class="item">
                        <ul>
                            <li><i class="fas fa-concierge-bell"></i> Nuevas solicitudes <span>3</span></li>
                            <li><i class="fas fa-users"></i> Candidatos totales <span>5</span></li>
                            <li><i class="fas fa-medal"></i> Solicitudes destacadas <span>2</span></li>
                            <a href="anuncios/postulantes">Ver candidatos</a>
                        </ul>
                    </div>
                    <% } %>
                </div>
        </div>
    </div>
</body>

</html>