<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/headerEmp.css" />
    <link rel="stylesheet" href="/css/empresa/cv.css" />
</head>
<body>
    <header> 
        <%- include('../partials/headerEmp'); -%>
    </header>
    <div class="container post">
        <div class="row">
            <div class="col-xs-12 col-sx-12 col-md-12 col-lg-12 barra">
                <h2>Detalle de candidato</h2>
            </div>
            <div class="col-xs-12 col-sx-12 col-md-9 col-lg-9 personales wrap">
                <p id="DatosPersonales"></p>
                <h3 id="titular">Datos personales</h3>
                <div class="perfil">
                    <div class="avatar">
                        <img src="/images/<%= cliente.user_avatar %>" alt="">
                    </div>
                    <p><%= cliente.cliente_cv.user_position %></p>
                    <p><%= cliente.cliente_cv.user_position_level %></p>
                    <ul>
                        <li><i class="fab fa-git-alt" title="Repositorio Git"></i> /<%= cliente.cliente_cv.user_git %></li>
                        <li><i class="fab fa-stack-overflow" title="StackOverflow"></i> <%= cliente.cliente_cv.user_stack %></li>
                        <li><i class="fas fa-user" title="Website"></i><%= cliente.cliente_cv.user_website %></li>
                    </ul>
                </div>
                <div class="info-cv wrap">
                    <h4>Nombre</h4>
                    <h5><%= cliente.user_name %></h5>
                    <h4>Apellidos</h4>
                    <h5><%= cliente.user_lastname %></h5>
                    <h4>DNI</h4>
                    <h5><%= cliente.cliente_cv.user_dni %></h5>
                    <h4>Nacionalidad</h4>
                    <h5>NO existe en la tabla</h5>
                    <h4>Edad</h4>
                    <h5>falta hacer el calculo</h5>
                    <h4>Genero</h4>
                    <h5><%= cliente.cliente_cv.user_gender == 'H' ? 'Hombre' : 'Mujer' %></h5>
                    <h4>Estado Civil</h4>
                    <h5><%= cliente.cliente_cv.user_civilstate %></h5>
                    <h4>Pais</h4>
                    <h5>Falta el dato</h5>
                    <h4>Ciudad</h4>
                    <h5><%= cliente.cliente_cv.user_city %></h5>
                    <h4>Telefono</h4>
                    <h5><%= cliente.cliente_cv.user_phone %></h5>
                </div>
            </div>
            <div class="col-xs-12 col-sx-12 col-md-3 col-lg-3 indice">
                <h3>índice</h3>
                <a href="#DatosPersonales">Datos Personales</a>
                <a href="#DatosProfesionales">Datos Profesionales</a>
                <a href="#ExperienciaLaboral">Experiencia Laboral</a>
                <a href="#Formacion">Formación</a>
                <a href="#Idiomas">Idiomas</a>
                <a href="#Skills">Skills</a>
            </div>
            <div class="col-xs-12 col-sx-12 col-md-12 col-lg-12 profesionales">
                <p id="DatosProfesionales"></p>
                <h3 id="titular">Datos Profesionales</h3>
                <div class="info-cv datos-prof">
                    <h4>Cargo / Profesion o titulo breve</h4>
                    <h5><%= cliente.cliente_cv.user_position %></h5>
                    <h4>Nivel</h4>
                    <h5><%= cliente.cliente_cv.user_position_level %></h5>
                    <h4>Descripcion</h4>
                    <h5><%= cliente.cliente_cv.user_position_description %></h5>
                </div>
            </div>
            <div class="col-xs-12 col-sx-12 col-md-12 col-lg-12 experiencia">
                <p id="ExperienciaLaboral"></p>
                <h3 id="titular">Experiencia Laboral</h3>
                <% for(let i = 0; i< cliente.cliente_experience.length; i++){ %>

                    <div class="info-cv exp">
                        <h4>Empresa</h4>
                        <h5><%= cliente.cliente_experience[i].user_cmp_experience %></h5>
                        <h4>Cargo</h4>
                        <h5><%= cliente.cliente_experience[i].user_cmp_position %></h5>
                        <h4>Desde</h4>
                        <h5><%= cliente.cliente_experience[i].user_cmp_experience_since %></h5>
                        <h4>Hasta</h4>
                        <h5><%= cliente.cliente_experience[i].user_cmp_experience_to %></h5>
                        <h4>Descripcion</h4>
                        <h5><%= cliente.cliente_experience[i].user_experience_description %></h5>
                    </div>
                <%}%>
            </div>
            <div class="col-xs-12 col-sx-12 col-md-12 col-lg-12 formacion">
                <p id="Formacion"></p>
                <h3 id="titular">Formacion</h3>
                <div class="info-cv form">
                    <h4>Nivel</h4>
                    <h5>Diplomado</h5>
                    <h4>Institucion</h4>
                    <h5>Digital House Argentina</h5>
                    <h4>Titulo</h4>
                    <h5>Desarrollador Web Full Stack</h5>
                    <h4>Desde</h4>
                    <h5>6/10/2019</h5>
                    <h4>Hasta</h4>
                    <h5>01/03/2020</h5>
                    <h4>Descripcion</h4>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores repellat vero dicta libero atque alias corporis saepe beatae. Harum, explicabo!</h5>
                    <h4>Repositorio Git</h4>
                    <h5><a href="www.github.com/<%=cliente.cliente_cv.user_git %>"><%=cliente.cliente_cv.user_git %></a></h5>
                    <h4>Website</h4>
                    <h5><a href="<%= cliente.cliente_cv.user_website %>"><%= cliente.cliente_cv.user_website %></a></h5>
                    <h4>StackOverflow</h4>
                    <h5><a href="www.stackoverflow.com/<%= cliente.cliente_cv.user_git %>"></a><%= cliente.cliente_cv.user_git %></h5>
                </div>
            </div>
            <div class="col-xs-12 col-sx-12 col-md-12 col-lg-12 idiomas">
                <p id="Idiomas"></p>
                <h3 id="titular">Idiomas</h3>
                <div class="info-cv lang">
                    <h4>Idioma</h4>
                    <h5><%= cliente.cliente_cv.user_lang %></h5>
                    <h4>Nivel</h4>
                    <h5><%= cliente.cliente_cv.user_lang_level %></h5>
                </div>
                
            </div>
            <div class="col-xs-12 col-sx-12 col-md-12 col-lg-12 skills">
                <p id="Skills"></p>
                <h3 id="titular">Skills</h3>
                <div class="info-cv skills">
                    <h4>Habilidades</h4>
                    <% for(let i=0; i<cliente.skill.length; i++){ %>
                        <h5><%= cliente.skill[i].skill_name %></h5>
                    <% }%>
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>