<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
    <!--Luego hay que hacer una validación de sesión iniciada para mostrar un header u otro-->
    <link rel="stylesheet" href="/css/headerEmp.css" />
	<link rel="stylesheet" href="/css/footer.css" />
	<link rel="stylesheet" href="/css/empresa/crearPublicacion.css" />
	 
</head>
<!-- CÓDIGO -->
<body>
    <header>
	    <%- include('../partials/headerEmp'); -%>
    </header>
    <div class="container-fluid cuerpo">
        <div class="container detalle">
            <div class="row separador"> 
                <div class="col-9 volver wrap">
                    <a href="/empresa/anuncios">../Volver</a>
                </div>
            </div>
            <div class="row cuerpo">
                <div class="col-9 wrap">
					<div class="anuncio wrap"> 
						<form action="/empresa/anuncios/modificar/<%=publicacion.id%>" method="post">
							<div class="form-cont wrap">
								<div class="titulo wrap">
									<label for="adv_title"><p>Título</p></label>
									<input type="text" name="adv_title" id="adv_title" value="<%=publicacion.adv_title%>">
								</div>
								<div class="descrp wrap">
									<textarea name="adv_description" id="adv_description" cols="30" rows="10" placeholder="Descripción"><%= publicacion.adv_description %></textarea>
								</div>
								<div class=" datos skills wrap">
									<div class="titulo wrap">
									<label for="skills"><p>Skills</p></label>
								</div>
									<div class="formulario">
										
											<label for="">Agregar Skill</label>
											<select name="skill_id" id="skill_id">
												
												<% skills.forEach(skill => { %>
													<option value="<%= skill.skill_id %>"><%= skill.skill_name %></option>
												<% }) %> 
											</select>
											<span id="adItem">+</span>
										
									</div>
									
										<div class="areas">
											<p>Tus Skills</p>
											<% publicacion.adv_skills.forEach(skill => { %>                     
												<div class="item">
													<a id="deleteSkill">X</a>
													<h2 id="<%=skill.skill_id%>"><%= skill.skill_name  %> </h2>
												</div>
												<input type="hidden" name="elskill" value="<%=skill.skill_id%>" class="hiddenSkill">
											<% }) %>
										</div>
									
								</div>
								<div class="info wrap">
									<label for="adv_date_contract"><p>Fecha de contratación</p></label>
									<input type="date" name="adv_date_contract" id="adv_date_contract" value="<%=publicacion.adv_date_contract%>">
									<label for="adv_area"><p>Área</p></label>
									<input type="text" name="adv_area" id="adv_area" value="<%=publicacion.adv_area%>">
									<label for="adv_location"><p>Ubicación</p></label>
									<input type="text" name="adv_location" id="adv_location" value="<%=publicacion.adv_location%>">
									<label for="adv_position"><p>Cargo</p></label>
									<input type="text" name="adv_position" id="adv_position" value="<%=publicacion.adv_position%>">
									<label for="adv_working_day"><p>Jornada</p></label>
									<input type="text" name="adv_working_day" id="adv_working_day" value="<%=publicacion.adv_working_day%>">
									<label for="adv_salary"><p>Salario</p></label>
									<input type="text" name="adv_salary" id="adv_salary" value="<%= publicacion.adv_salary%>">
								</div>
								<div class="beneficios">
									<label for="adv_advantage"><p>Beneficios (opcional)</p></label>
									<textarea name="adv_advantage" id="adv_advantage" cols="30" rows="10"><%=publicacion.adv_advantage%></textarea>
								</div>
							</div>
							<button type="submit">Guardar</button>
							<button type="reset">Limpiar</button>
						</form>
					</div>
                </div>
            </div>
       </div>
    </div>
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
<!-- CÓDIGO -->
	<script src="/js/addSkills.js"></script>
</body>
</html>