<!DOCTYPE html> 
<html lang="es">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/headerLog.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/empresa/perfil.css" />
</head>
<!-- CÓDIGO -->
<body>
    <header>
        <%- include('../partials/headerEmp'); -%>
    </header>    
    <div class="container-fluid cuerpo">
        <div class="container cuerpo">
            <div class="row">
                <div class="col-12 barra-menu wrap">
                    <a href="/empresa/anuncios/crear">Nuevo anuncio</a>
                    <a href="/empresa/anuncios">Mis anuncios</a>
                    <a href="/empresa/informacion">Editar información</a>
                    <a href="/empresa/perfil/configuracion">Configuración</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 info">
                    <div class="perfil wrap">
                        <div class="avatar"> 
                            <div class="item">
                                
                                <img src="/images/avatars/<%=empresa.cmp_avatar %>" alt="">
                            </div>
                        </div>
                        <div class="datos wrap">
                            <strong><p><%=empresa.cmp_name%></p></strong>
                            <p><%=empresa.cmp_sector %></p>
                            <p><%=empresa.cmp_description %></p>
                            <ul>
                                <li><i class="fas fa-user" title="Website"></i> <small><%=empresa.cmp_website%></small></li>
                                <li><i class="fab fa-linkedin" title="Website"></i> <small><%=empresa.cmp_linkedin%></small></li>
                                <li><i class="fab fa-facebook-square" title="Website"></i> <small><%=empresa.cmp_facebook%></small></li>
                                <li><i class="fab fa-instagram-square" title="Website"></i><small> <%=empresa.cmp_instagram%></small></li>
                            </ul>
                        </div>
                        <a href=""><i class="fas fa-user-edit" title="Editar información"></i></a>
                    </div>
                    <div class="estadisticas wrap">
                        <p class="titulo">Resumen de cuenta</p>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 funciones">
                    <div class="sugeridos">
                        <div class="anuncios wrap">
                            <strong><p>Tus anuncios</p></strong>
                            <a href="anuncios">ver más</a>
                            <%if(anuncios==''){%>
                            <%}else{%>
                            <% for (anuncio of anuncios) { %>
                                <a class="anuncio" href="/detalle?id=<%= anuncio.id %>">
                                    <div class="item wrap">
                                        <h3><%= anuncio.adv_title %></h3>
                                        <p><i class="fas fa-users" title="Skills que cumples"></i> Postulantes</p>
                                        <p title="Número de postulantes"> <%=  %></p>
                                        <p><i class="fas fa-calendar-day" title="Fecha de publicación"></i> <%= anuncio.adv_publication %></p>
                                    </div>
                                </a>         
                            <% } }%>                                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>    
<!-- CÓDIGO -->
</body>

</html>