<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/headerLog.css" />
    <link rel="stylesheet" href="/css/empresa/postulantes.css" />
</head>

<body>
    <header>
        <%- include('../partials/headerEmp'); -%>
    </header>
    <div class="container post">
        <div class="row">
            <div class="col-12 barra-menu wrap">
                <a href="/empresa/anuncios/crear">Nuevo anuncio</a>
                <a href="/empresa/anuncios" id="select">Mis anuncios</a>
                <a href="/empresa/informacion">Editar información</a>
                <a href="/empresa/perfil/configuracion">Configuración</a>
            </div>
            <div class="col-12 barra">
                <h2>Solicitudes recibidas</h2>
            </div>
            <div class="col-2 panel">
                <div class="filtro">
                    <!-- consultar si conviene utilizar listas o inputs para filtros -->
                    <h3>Ordenar por</h3>
                    <ul>
                        <li><input type="radio" name="filtrar" id="">Todos</li>
                        <li><input type="radio" name="filtrar" id="">Skills</li>
                        <li><input type="radio" name="filtrar" id="">Nuevos</li>
                        <li><input type="radio" name="filtrar" id="">Fecha</li>
                    </ul>
                </div>
            </div>
            <div class="col-10 detalle">
                <div class="item">
                    <div class="img">
                        <img src="/images/avatars/<%= anuncio.empresas.cmp_avatar %>" alt="">
                    </div>
                    <div class="info">
                        <h2><%=anuncio.adv_title%></h2>
                        <ul>
                            <li><%=anuncio.empresas.cmp_name %></li>
                            <li><%= anuncio.adv_location %></li>
                            <li><%=anuncio.adv_working_day %></li>
                        </ul>
                        <p class="desc"><%= anuncio.adv_description %>></p>
                    </div>
                </div>
            </div>
            <div class="col-12 postulantes">
                <% for(let i = 0; i< anuncio.candidatos.length; i++){ %>

                    <a href="/empresa/anuncios/postulante/cv?id=<%= anuncio.candidatos[i].user_id %>">
                        <div class="item">
                            <div class="perfil wrap">
                                <div class="avatar">
                                    <div class="item">
                                        <img src="/images/<%=anuncio.candidatos[i].user_avatar %>" alt="">
                                    </div>
                                </div>
                                <div class="datos wrap">
                                    <strong>
                                        <p><%= anuncio.candidatos[i].user_name %></p>
                                    </strong>
                                    <p><%= anuncio.candidatos[i].user_career %></p>
                                    <p id="bio"><%= anuncio.candidatos[i].cliente_experience[0].user_experience_description %></p>
                                    <p><i class="fas fa-magic"></i> Skills 
                                        <span>
                                        <%=   anuncio.compareSkills(anuncio.candidatos[i].skill).length +'/'+ anuncio.adv_skills.length     %>
                                             
                                        
                                            
                                    </span></p>
                                </div>
                            </div>
                        </div>
                    </a>
               <% } %>
                
            </div>
        </div>
    </div>
</body>

</html>